.card-image {
  height: auto;
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .card-container {
    display: flex;
    gap: 30px;
  }

  .card-image {
    height: 100px;
    width: auto;
    align-self: center;
  }
}
