---
import ModalWrapper from "@components/ModalWrapper.astro";
import { Image } from "astro:assets";
import localJitzImage from "../assets/images/jitz.jpg";
---

<ModalWrapper id="dialog" open="Open modal">
  <main id="main" slot="main">
    <div class="inner-container">
      <div class="image-container">
        <Image src={localJitzImage} alt="Two men pracitsicing Jiu Jitsu." />
        <h2 class="header">Join the Newsletter</h2>
        <p class="description">Subscribe to get exclusive content by email.</p>
      </div>

      <form class="form-container">
        <input class="email-input" placeholder="Email Address" />
        <button class="submit-button">Subscribe</button>
      </form>
    </div>
  </main>
  <button class="close-button" slot="close">X</button>
</ModalWrapper>
